.void {
  width: 300px;
}
.mydata-p {
  width: 300px;
  height: 190px;
}
.mydata {
  visibility: hidden;
  display: none;
}
.si img {
  height: 45px;
  width: 45px;
  display: inline;
  padding: 1px;
  margin-right: 2px;
}
.verhpanel {
  background: #242424;
}
